/* ============ ArticlesByTopicShort ============ */

.container__ShortList {
    width: 100%;
    text-align: left;
    margin-bottom: 2.5em;
}

.container__ShortList a:visited, a:link {
    color: inherit;
}

.ShortList__hr {
    margin: 0;
    border: none;
    border-top: 1px solid #000;
}

.ShortList__header {
    padding: 0.3em 0.1em;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 0.4em;
}

.ShortList__topic {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1em;
}

.container__ShortList a {
    text-decoration: none;
}

.ShortList__topic-link {
    text-decoration: underline;
    font-size: 0.8em;
}

.container__articles {
    margin-top: 1.4em;
    padding-left: 1em;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 3em;
    width:100%;
}

.container__article {
    width: 200px;
    line-height: 1.1;
}

.container__article img {
    width: 200px;
    height: auto;
}

.container__article h2 {
    font-size: 1.2em;
    font-weight: 600;
}

.container__article a:visited, a:link {
    color: inherit;
}

.container__article:not(:last-child) {
    position: relative;
}

.container__article:not(:last-child)::after {
    content: "";
    position: absolute;
    right: -1.4em; 
    top: 0;
    bottom: 0;
    width: 1px;
    background-color: #ccc;
}

/* ============ ArticlesByTopic ============ */

.container__topic-header {
    width: 100%;
    text-align: left;
    margin-top: 6em;
    margin-bottom: 2.5em;
}

.container__topic-header h1 {
    font-weight: 600;
    font-size: 2.8em;
    text-transform: capitalize;
}

.container__topic-header p {
    font-weight: 300;
    font-size: 1.5em;
}

.container__articlesByTopic {
    width: 90%; /* Fixed typo: "witdh" to "width" */
    margin: 0 auto; /* Center the content */
    display: flex;
    flex-direction: column;
    gap: 5em;
}

.section-divider {
    margin: 0;
    border: none;
    border-top: 1px solid #000;
}

.container__topic-article {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #ccc;
    padding: 10px;
}

.topic-article__text {
    flex: 1;
    text-align: left;
    margin-right: 1.3em;
}

.topic-article__image img {
    width: 220px;
    height: auto;
}

/* .container__topic-header {
    width: 100%;
    text-align: left;
    margin-top: 6em;
    margin-bottom: 2.5em;
}

.container__topic-header h1 {
    font-weight: 600;
    font-size: 2.8em;
    text-transform: capitalize;
}

.container__topic-header p {
    font-weight: 300;
    font-size: 1.5em;
}

.container__articlesByTopic {
    padding-left: 2em;
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 5em;
}

.section-divider {
    margin: 0;
    border: none;
    border-top: 1px solid #000;
}

.container__topic-article {
    display: flex;
    flex-direction: row; 
    align-items: center; 
    justify-content: space-between; 
    border: 1px solid #ccc;
    padding: 10px; 
  }

.container__topic-article img {
    width: 220px;
    height: auto;
}

.topic-article__text {
    flex:1;
    text-align: left;
    margin-right: 1.3em;
} */