:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #525253;
  }
  button {
    background-color: #f9f9f9;
  }
}

.nav {
  background-color: rgb(247, 211, 211);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
  padding: 0 1rem;
  margin: 0;
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav a {
  text-decoration: none;
  padding-left: .5rem;
}

.articleCard {
  /* border: solid black 1px;
  border-radius: 3px;
  box-shadow: #52525342 5px 3px 0px 0px;
  margin: 15px;
  max-width:max-content; */

  background: white;
  --padding: 1rem;
  /* border: 1px solid #777; */
  border: none;
  border-radius: .25rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .2);
  overflow: hidden;
}

.articleList-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
  align-items: flex-start;
}

.articleCard-header {
  font-size: 1rem;
  padding: var(--padding);
  padding-bottom: 0;
  margin-bottom: .5rem;
}

.articleCard-header-img {
  padding: 0;
  overflow: hidden;
  height: 180px;
}

.articleCard-header-img > img {
  display: block;
  width: 100%;
  /* max-height: 200px; */
  aspect-ratio: 16 / 9;
  object-fit: cover;
  object-position: center;
}

.articleCard-body {
  font-size: .9rem;
  padding: 0 var(--padding)
}

.articleCard-footer {
  margin-top: 1rem;
  padding: var(--padding);
  padding-top: 0;
}

/* .articleCard img {
  height: 30%;
  width: 30%;
  border-radius: 5px 5px 0 0;
} */

.SingleArticleHeader {
  border-bottom: solid #525253 1px;
  text-align: left;
  max-width: 60%;
}

.SingleArticleBody {
  text-align: left;
}

.SingleArticleComments {
  text-align: left;
}

.SingleArticleComments p {
  margin: none;
  font-size: small;
  border-radius: 4px;
  background-color: rgba(233, 233, 233, 0.205);
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 1px;
}

.SingleArticleComments button {
  font-size: small;
}

.comment-box {
  border: 1px solid #77777734;
  margin-top: .25rem;
  padding: var(--padding);
  padding-top: 0;
  border-radius: 4px;
}
